<div class="container mt-5">
  <div class="row">
      <!-- Form  -->
      <div class="col-4">
        <div class="form-group">
            <input type="text" class="form-control" 
            placeholder="Nuevo usuario" 
            #name>
            <button 
            type="submit" 
            class="btn btn-sm btn-primary mt-1" 
            (click)="registroUsuario(name.value)">Registrar</button>
        </div>
        

        <div *ngIf="error">
          <div class="alert alert-danger alert-dismissible fade show" role="alert">
          <strong>Error!</strong> Hay un error con el servidor, aplicacion no disponible.
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>

        </div>
      </div>

      <!-- Lista de usuarios -->
      <div class="col-6 border-left">
        <div *ngIf="!error">
          <div *ngIf="usuarios.length > 0 ;else elseBlock">

            <h2 class="h4">Usuarios</h2>

            <ul class="list-group" >
              <li class="list-group-item mb-2 border rounded" *ngFor="let user of usuarios">
                <app-usuario-principal 
                [data]="user"
                (usuarioEliminado)="actualizarDatos()"
                ></app-usuario-principal>
              </li>
            </ul>
          </div>
          

          <ng-template #elseBlock>
            <div class="alert alert-warning" role="alert">
              No hay usuarios que mostrar
            </div>
          </ng-template>

          
        </div>
      </div>

</div>




<!-- <div *ngIf="usuarios.lenght <= 0">
  <h2>No usuarios registrados</h2>
</div> -->

